.hoders {
    margin-top: 3%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    margin: 0;
    background-color: #FFB57F
}
button{
      margin-left: 21%;
      width: 80px
}

ul {
    width: 50%;
}

.table {
    background-color: whitesmoke;
    border-radius: 3%;
    width: auto;
}
#orderp {
    width: 60% ;
    font-size: large ;
    margin-left: auto;
}
