.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    margin: 0;
    background-color: #FFB57F
}

button {
    margin-top: 15%;
    color: black !important;
    background-color: #FFEB00 !important;
    border: none !important;
    width: 50%;
}
 a {
     width: 50%;
     background-color: #FFEB00 !important;
 }
.container {
    margin-top: 10%;
}