.hoders {
    margin-top: 5%;
}

 .center {
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
 body {
     margin: 0;
      background-color:#FFB57F
 }
 button{
     margin-top: 10%;
     color: black !important;
     background-color: #FFEB00!important;
     border: none !important;
     width: 50%;
 }
 ul {
     width: 50%;
 }
